{#
<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ol>
 #}

<div class="container container--fluid">
  <div class="post-list">
    {% for post in postslist | reverse %}
      <div class="post-item fade-in move-up animation js-animate {% if post.url == url %}post-item--active active{% endif %}">
        <a href="{{ post.url | url }}" class="post-link">
          <span class="post-image">
            {% if post.data.image %}
              <picture>
                <source srcset="/assets/images/articles/thumbnails/{{ post.data.image }}">
                <img src="/assets/images/articles/thumbnails/{{ post.data.image }}" alt="" loading="lazy">
              </picture>
            {% endif %}
          </span>
          <span class="post-data">
            {# The filter ` | urlize | safe` allows to parse HTML like `<br>` and `&nbsp;` #}
            <span class="post-title">{{ post.data.title | urlize | safe }}</span>
            <span class="post-date">
              {% if post.data.updatedDate %} {{ post.data.date | readableDate }} | Update on {{ post.data.updatedDate | readableDate }}
              {% else %} {{ post.data.date | readableDate }}
              {% endif %}
            </span>
          </span>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
