* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  color: color-1;
  transition-duration: 0.3s;
}
blockquote {
  color: color-grey;
  font-size: 1em;
}
blockquote a:hover {
  text-decoration: underline;
}
blockquote p:last-child {
  padding-bottom: 10px;
}
blockquote p:last-child a {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}
body {
  background-color: transparent;
  font-family: 'Oxygen';
}
@media (min-width: breakpoint-tablet) {
  body {
    font-size: calc(20 / 16 * 1rem);
  }
}
button {
  cursor: pointer;
  font-size: 16px;
}
code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.7em;
}
h1 {
  line-height: 1.2;
  margin-bottom: 10px;
}
iframe {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
iframe[src*="instagram"] {
  margin-left: auto !important;
  margin-right: auto !important;
}
img,
video {
  max-width: 100%;
  height: auto;
}
