.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
}
.nav-item {
  margin-right: 1em;
}
.site-header {
  background-color: color-header-background;
  box-shadow: shadow-header;
  color: color-header-copy;
  font-size: 0.8em;
  margin-bottom: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.site-header:hover .site-name-switch {
  transform: translateY(-50%);
}
.site-header a {
  color: inherit;
  line-height: 1;
  transition-duration: 0.3s;
}
.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .dropdown-wrapper .dropdown-title,
.site-header .dropdown-wrapper .mobile-dropdown-title {
  color: #fff;
  font-size: 1em;
}
.site-header .dropdown-wrapper .nav-dropdown .dropdown-item a {
  color: color-1;
}
.site-header .nav-links a:hover,
.site-header .nav-links a.router-link-active {
  color: $accentColor;
  text-decoration: underline;
}
@media (min-width: $MQMobile) {
  .site-header .nav-item > a:not(.external):hover,
  .site-header .nav-item > a:not(.external).router-link-active {
    border-bottom: 0;
    color: #fff;
    margin-bottom: -2px;
  }
}
.site-header .search-box input {
  background-position: 13px 5px;
  background-size: 14px;
  left: 0;
  height: 26px;
}
@media (min-width: breakpoint-search) {
  .site-header .search-box input {
    background-position: 9px 5px;
    width: auto;
  }
}
.site-name,
.site-name-switch {
  display: inline-block;
  line-height: 1.2;
  vertical-align: top;
}
.site-name {
  height: 20px;
  overflow: hidden;
}
.site-name-alternate,
.site-name-main {
  display: block;
}
.site-name-switch {
  margin-left: -4px;
  transition-duration: 0.3s;
}
