@media (min-width: breakpoint-ipad) {
  .column-main {
    flex-grow: 1;
    padding-right: 50px;
  }
}
@media (min-width: breakpoint-ipad-landscape) {
  .column-main {
    padding-right: 0;
  }
}
@media (min-width: breakpoint-ipad) {
  .column-sidebar {
    flex-shrink: 0;
    width: 300px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: site-width;
  width: 100%;
}
.container--content {
  max-width: content-width;
}
@media (min-width: breakpoint-air) {
  .container--fluid {
    max-width: 90vw;
  }
}
@media (min-width: breakpoint-ipad) {
  .layout-2 {
    display: flex;
    justify-content: space-between;
  }
}
.theme-default-content:not(.custom) a:hover {
  text-decoration: none;
}
