.pagination {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  width: 100%;
}
.pagination-button {
  background-color: transparent;
  border: 0;
  color: color-copy;
  display: flex;
  align-items: center;
  margin: 0 20px;
  transition-duration: 0.3s;
}
.pagination-button:first-child svg {
  margin-right: 10px;
}
.pagination-button:last-child svg {
  margin-left: 10px;
}
.pagination-button:hover {
  color: color-1;
}
.pagination-button:hover svg {
  fill: color-1;
}
.pagination-button:hover:first-child svg {
  transform: translateX(-5px);
}
.pagination-button:hover:last-child svg {
  transform: translateX(5px);
}
.pagination-button svg {
  transition-duration: 0.3s;
  width: 10px;
}
