{% set email %} long@longzero.com{% endset %}

<footer class="site-footer">
  <div class="container container--content">
    {# <p><a href="{{ '/posts/' | url }}">List all posts</a>.</p> #}
    <p>Reach me by email <strong><a target="_blank" href="mailto:{{ email }}?body=(From%20longzero.com,%20do%20not%20delete%20this%20line)">{{ email }}</a></strong>.</p>
  </div>
</footer>

<script src="{{ '/assets/js/main.js' | url }}"></script>

<!-- Current page: {{ page.url | url }} -->
