{% set email %} long@longzero.com{% endset %}

<footer class="site-footer">
  <div class="container container--content">
    {# <p><a href="{{ '/posts/' | url }}">List all posts</a>.</p> #}
    <p><a target="_blank" href="mailto:{{ emailAddress }}?body=(From%20longzero.com,%20do%20not%20delete%20this%20line)">{{ emailAddress }}</a></p>
  </div>
</footer>

<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>

<script src="{{ '/assets/js/main.js' | url }}"></script>

<!-- Current page: {{ page.url | url }} -->
