---
# layout: layouts/base.njk
templateClass: template-blank
---

<!doctype html>
<html lang="{{ metadata.language }}">
  {% include 'partials/head-blank.njk' %}

  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {# {% include 'partials/header.njk' %} #}

    <main>

      {{ content | safe }}

    </main>

    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

    {# {% include 'partials/footer.njk' %} #}

  </body>
</html>
