@font-face {
  font-display: swap;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oxygen-v10-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(''), url("../fonts/oxygen-v10-latin-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/oxygen-v10-latin-regular.woff2") format('woff2'), url("../fonts/oxygen-v10-latin-regula[...]")
  Legacy: iOS;
}
@font-face {
  font-display: swap;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oxygen-v10-latin-700.eot"); /* IE9 Compat Modes */
  src: local(''), url("../fonts/oxygen-v10-latin-700.eot?#iefix") format('embedded-opentype'), url("../fonts/oxygen-v10-latin-700.woff2") format('woff2'), url("../fonts/oxygen-v10-latin-700.woff") for[...]
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --color-1: #639;
  --color-background: #fff;
  --color-copy: #444;
  --color-link: var(--color-1);
  --color-post-title: var(--color-1);
  --color-post-title-hover: var(--color-1);
  --color-post-image-hover: var(--color-1);

  /* unit conversion even-row background (light-mode default) */
  --unit-conversion-even-bg: #ddd;

  --font-size: 16;
  --footer-background: linear-gradient(#fff 15%, #eee);
  --rem: 1 / var(--font-size) * 1rem;
  font-size: 16px;
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  html {
    --color-background: #000;
    --color-copy: #ccf;
    --color-link: var(--color-1);
    --color-link-hover: var(--color-1);
    --color-post-title: #eef;
    --color-post-title-hover: #96c;
    --footer-background: linear-gradient(rgba(0,0,0,0) 0%, #112 25%, #112);

    /* unit conversion even-row background for dark mode: choose a subtle dark stripe */
    --unit-conversion-evern-bg: #111;
    --unit-conversion-even-bg: #111;
  }
}

a {
  color: var(--color-link);
  transition-duration: 0.3s;
}
a:hover {
  color: var(--color-link-hover);
}
blockquote {
  color: #777;
  font-size: 1em;
}
blockquote a:hover {
  text-decoration: underline;
}
blockquote p:last-child {
  padding-bottom: 10px;
}
blockquote p:last-child a {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}
body {
  background-color: var(--color-background);
  color: var(--color-copy);
  font-family: 'Oxygen';
}
@media (min-width: 600px) {
  body {
    font-size: calc(20 / 16 * 1rem);
  }
}
button {
  cursor: pointer;
  font-size: 16px;
}
code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.7em;
}

/* Default display of <code> is inline. Setting that to inline-block messes up with the appearance especially when it is part of a paragraph. */
code {font-size: .8em; background-color: #efefef; border: 1px solid #ddd; border-radius: 3px; padding: 2px 3px;}

h1 {
  line-height: 1.1;
  margin-bottom: 10px;
}
hr {margin-top: 1em; margin-bottom: 1em;}
iframe {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
iframe[src*="instagram"] {
  margin-left: auto !important;
  margin-right: auto !important;
}
img,
video {
  max-width: 100%;
  height: auto;
}


input, select, textarea {border: 1px solid #000; border-radius: 0; font-family: 'Oxygen'; font-size: 1rem; padding: 5px 5px;}
input, select {height: 35px;}


@media (min-width: 768px) {
  .column-main {
    flex-grow: 1;
    padding-right: 50px;
  }
}
@media (min-width: 1024px) {
  .column-main {
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .column-sidebar {
    flex-shrink: 0;
    width: 300px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1200px;
  width: 100%;
}
.container--content {
  max-width: 60ch;
}
@media (min-width: 1400px) {
  .container--fluid {
    max-width: 90vw;
  }
}
@media (min-width: 768px) {
  .layout-2 {
    display: flex;
    justify-content: space-between;
  }
}
.theme-default-content:not(.custom) a:hover {
  text-decoration: none;
}
.post-data {
  display: block;
  flex-grow: 1;
}
.post-date {
  color: #777;
  display: block;
  font-size: 0.8em;
  margin-bottom: 1em;
}
.post-header h1 {color: var(--color-post-title);} 
.post-header h1:not(:has(+ .post-date)) {margin-bottom: 1em;}
.post-image {
  --size: 100px;
  background-color: rgba(51,102,153,0.5);
  border: 4px solid transparent;
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  position: relative;
  transition-duration: 0.3s;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
}


.post-image::before {
  content: '';
  display: block;
  padding-bottom: 100%;
  width: 100%;
}
.post-image::after,
.post-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post-image::after {
  color: rgba(255,255,255,0.5);
  content: 'L';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}
.post-image img {
  display: block;
  object-fit: cover;
  z-index: 1;
}
.post-item {
  margin-bottom: 2rem;
  transition-duration: 0.3s;
  width: 100%;
}
.post-item:hover .post-image {
  background-color: var(--color-post-image-hover);
  border: 4px solid var(--color-post-image-hover);
  box-shadow: 0 1px 10px 5px rgba(0,0,0,0.2);
}
.post-item:hover .post-image::after {
  color: #fff;
}
.post-item:hover .post-title {
  color: var(--color-post-title-hover);
}

.post-link {
  display: flex;
  text-decoration: none;
}

.post-media {margin-bottom: 1em;}
.post-media img {display: block;}
.post-title {
  color: var(--color-post-title);
  display: block;
}
@media (min-width: 600px) {
  .post-title {
    margin-bottom: 10px;
  }
}
.site-footer {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  text-align: center;
}
.site-footer:before,
.site-footer:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.site-footer:before {
  background-image: var(--footer-background);
  z-index: -1;
}
.site-footer:after {
  z-index: 0;
}
.site-footer a:hover {
  text-decoration: underline;
}
.site-footer p {
  margin-bottom: 1em;
}
.site-footer strong a {
  font-size: 1.2em;
}
.site-footer .container {
  position: relative;
  z-index: 1;
}
.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
}
.nav-item {
  margin-right: 1em;
}
.site-header {
  background-color: var(--color-1);
  box-shadow: 0 1px 10px 5px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 0.8em;
  margin-bottom: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.site-header:hover .site-name-switch {
  transform: translateY(-50%);
}
.site-header a {
  color: inherit;
  line-height: 1;
  transition-duration: 0.3s;
}
.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .dropdown-wrapper .dropdown-title,
.site-header .dropdown-wrapper .mobile-dropdown-title {
  color: #fff;
  font-size: 1em;
}
.site-header .dropdown-wrapper .nav-dropdown .dropdown-item a {
  color: var(--color-1);
}
.site-header .nav-links a:hover,
.site-header .nav-links a.router-link-active {
  color: var(--color-1);
  text-decoration: underline;
}
@media (min-width: $MQMobile) {
  .site-header .nav-item > a:not(.external):hover,
  .site-header .nav-item > a:not(.external).router-link-active {
    border-bottom: 0;
    color: #fff;
    margin-bottom: -2px;
  }
}
.site-header .search-box input {
  background-position: 13px 5px;
  background-size: 14px;
  left: 0;
  height: 26px;
}
@media (min-width: 960px) {
  .site-header .search-box input {
    background-position: 9px 5px;
    width: auto;
  }
}
.site-name,
.site-name-switch {
  display: inline-block;
  line-height: 1.2;
  vertical-align: top;
}
.site-name {
  height: 20px;
  overflow: hidden;
}
.site-name-alternate,
.site-name-main {
  display: block;
}
.site-name-switch {
  margin-left: -4px;
  transition-duration: 0.3s;
}
@media (min-width: 600px) {
  .column-sidebar {
    font-size: 0.8em;
  }
}
.column-sidebar h3 {
  margin-bottom: 1em;
  position: relative;
}
.column-sidebar .post-item {
  margin: 0;
  transform-origin: left center;
}
.column-sidebar .post-title {
  line-height: 1.6;
  margin-bottom: 0;
}
.h-position-sticky {
  position: sticky;
  top: 60px;
}
.info-bubble:hover .info-bubble-details {
  display: block;
}
.info-bubble-details {
  background-color: #fff;
  box-shadow: 0 1px 10px 5px rgba(0,0,0,0.2);
  display: none;
  font-size: 0.7em;
  padding: 20px;
  position: absolute;
  right: 0;
  z-index: 1;
  width: 100%;
}
@media (min-width: 768px) {
  .info-bubble-details {
    width: 200%;
  }
}
.info-bubble-details blockquote {
  font-size: 1em;
  margin: 0;
}
.info-bubble-details p:not(:last-child) {
  margin-bottom: 1em;
}
.info-bubble-symbol {
  background-color: #fff;
  border: 2px solid var(--color-1);
  border-radius: 50%;
  color: var(--color-1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  line-height: 1;
  margin-top: 3px;
  margin-left: 10px;
  vertical-align: top;
  width: 22px;
  height: 22px;
}
.video-wrapper {
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  width: 100%;
}
.pagination-button {
  background-color: transparent;
  border: 0;
  color: #000;
  display: flex;
  align-items: center;
  margin: 0 20px;
  transition-duration: 0.3s;
}
.pagination-button:first-child svg {
  margin-right: 10px;
}
.pagination-button:last-child svg {
  margin-left: 10px;
}
.pagination-button:hover {
  color: var(--color-1);
}
.pagination-button:hover svg {
  fill: var(--color-1);
}
.pagination-button:hover:first-child svg {
  transform: translateX(-5px);
}
.pagination-button:hover:last-child svg {
  transform: translateX(5px);
}
.pagination-button svg {
  transition-duration: 0.3s;
  width: 10px;
}
.social-networks {
  display: flex;
  align-items: center;
}
.social-networks a {
  display: block;
  margin-left: 15px;
}
.social-networks a:hover path {
  fill: #000;
}
.social-networks path {
  fill: #fff;
  transition-duration: 0.3s;
}
.social-networks svg {
  display: block;
  width: 19px;
  height: 19px;
}
.social-networks .social-icon-mastodon,
.social-networks a:hover .social-icon-mastodon {
  fill: var(--color-1);
}
.rte {line-height: 1.7}
.rte a {
  transition-duration: 0.3s;
}
.rte a:hover {
  color: var(--color-link-hover);
  text-decoration: none;
}
.rte blockquote {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.rte h1,
.rte h2,
.rte h3,
.rte h4,
.rte h5,
.rte h6 {
  color: var(--color-1);
  margin-bottom: 1em;
}
.rte h1 {
  line-height: 1.1;
}
.rte h2 {
  border-color: var(--color-1);
}
.rte figcaption {font-size: .8em;}
.rte figure {margin-bottom: 2em;}
.rte iframe,
.rte p,
.rte ol,
.rte ul,
.rte script,
.rte .video-wrapper {
  margin-bottom: 1em;
}
.rte iframe:last-child,
.rte p:last-child,
.rte ol:last-child,
.rte ul:last-child,
.rte script:last-child,
.rte .video-wrapper:last-child {
  margin-bottom: 0;
}
.rte iframe + h1,
.rte p + h1,
.rte ol + h1,
.rte ul + h1,
.rte script + h1,
.rte .video-wrapper + h1,
.rte iframe + h2,
.rte p + h2,
.rte ol + h2,
.rte ul + h2,
.rte script + h2,
.rte .video-wrapper + h2,
.rte iframe + h3,
.rte p + h3,
.rte ol + h3,
.rte ul + h3,
.rte script + h3,
.rte .video-wrapper + h3,
.rte iframe + h4,
.rte p + h4,
.rte ol + h4,
.rte ul + h4,
.rte script + h4,
.rte .video-wrapper + h4,
.rte iframe + h5,
.rte p + h5,
.rte ol + h5,
.rte ul + h5,
.rte script + h5,
.rte .video-wrapper + h5,
.rte iframe + h6,
.rte p + h6,
.rte ol + h6,
.rte ul + h6,
.rte script + h6,
.rte .video-wrapper + h6 {
  padding-top: 2em;
}
/*.rte img {border: 1px solid var(--color-1);}"*/
.rte ol, .rte ul {padding-left: 20px;}


.unit-conversion {font-size: 1rem; padding: 5px 10px;}
.unit-conversion:nth-child(even) {
  background-color: var(--unit-conversion-even-bg, #ddd);
}
.unit-group {display: flex; align-items: center; gap: 10px; margin: 5px 0}
.unit-group input {text-align: right;}
#exchange-rate {width: 100px;}
@media (min-width: 500px) {
  .unit-conversion, .unit-group {display: flex; align-items: center; gap: 20px;}
  .unit-group {gap: 10px; width: 50%;}
  .unit-group input {width: 130px;}
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
.sr-only-undo, .not-sr-only {
    position: static;
    width: auto;
    height: auto;
    // padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    border: 0;
}