.social-networks
  display: flex
  align-items: center
  a
    display: block
    margin-left: 15px
    &:hover
      path
        fill #000
  path
    fill #fff
    transition-duration: .3s
  svg
    display: block
    width: 19px
    height: @width

.social-networks .social-icon-mastodon, .social-networks a:hover .social-icon-mastodon
  fill: #369
