@font-face {
  font-display: swap;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/oxygen-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/oxygen-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/oxygen-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/oxygen-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/oxygen-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/oxygen-v10-latin-regular.svg#Oxygen') format('svg');  Legacy iOS
}

@font-face {
  font-display: swap;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/oxygen-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/oxygen-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/oxygen-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/oxygen-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/oxygen-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/oxygen-v10-latin-700.svg#Oxygen') format('svg'); /* Legacy iOS */
}


breakpoint-mobile = 480px
breakpoint-tablet = 600px
breakpoint-desktop = 960px
breakpoint-ipad = 768px
breakpoint-ipad-landscape = 1024px
breakpoint-air = 1400px

breakpoint-search-max = 959px
breakpoint-search = 960px
breakpoint-site-width = 1200px

$accentColor = #369
$textColor = #000
$borderColor = #eaecef
$codeBgColor = #282c34
color-1 = $accentColor

color-background = #369
color-copy = $textColor
color-grey = #777
color-header-background = #369
color-header-copy = #fff
color-link = color-1

content-width = 60ch
shadow = 0 1px 10px 5px rgba(0,0,0,0.1)
shadow-header = 0 1px 10px 5px rgba(0,0,0,0.2)
site-width = 1200px
